# This is for live555 to match the devname and channel, the devname should be the same as those under /dev.

[ch01]
h265_devname = video_encoder-0
h264_devname = video_encoder-0
buff_devname = icc_proxy_rpc_sink-0
[ch02]
h265_devname = video_encoder-1
h264_devname = video_encoder-1
buff_devname = icc_proxy_rpc_sink-1
[ch03]
h265_devname = video_encoder-2
h264_devname = video_encoder-2
buff_devname = icc_proxy_rpc_sink-2
[ch04]
h265_devname = video_encoder-3
h264_devname = video_encoder-3
buff_devname = icc_proxy_rpc_sink-3